.img-container {
  height: 400px;
  object-fit: cover;
}

.height-400-px {
    height: 400px;
}

.height-inherit {
    height: inherit;
}

.gradient--from-white-to-black-radial {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,.7) 100%);
}

.mt-10 {
    margin-top: 10rem!important;
}

html {
    scroll-behavior: smooth;
}

/* DEBUG */
body {
    height: 9999px;
}